@use '@mordech/tokens/css/tokens.css';
@use '@mordech/tokens/css/fonts/ui.css';

body {
  font-family: var(--mrd-font-family-ui);
  font-size: var(--mrd-font-size-1);
  color: var(--mrd-color-background-on-base);
  background-color: var(--mrd-color-background-base);
}
