{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": ["../../.eslintrc.json", "plugin:react-hooks/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-refresh"],
  "rules": {
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true },
    ],
  },
}
